@model Album

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h5 class="card-title">@Model.Artist</h5>
        <p class="card-text">@Model.Genre: @Model.Price</p>
        <a asp-controller="Album" asp-action="Index" class="btn btn-outline-primary">Back to list</a>
    </div>
</div>